<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>COVID-19 DATA</title>
  </head>
  <body>
    <div class="tabbable boxed parentTabs p-4">
      <ul class="nav nav-tabs">
        
        <li class="active">
          <a href="#a1" class="nav-link">Overview</a>
        </li>
        {% for country in country_list %}
        <li>
          <a href="#{{country.code|safe}}" class="nav-link">{{country.name}}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="tab-content">

        <div class="tab-pane fade show active" id="a1">
          <div class="tabbable">
            <!-- <ul class="nav nav-tabs">
              <li class="active">
                <a href="#a11" class="nav-link"></a>
              </li>
            </ul> -->
            <div class="tab-content">
              <!-- <div class="tab-pane fade show active" id="a11"> -->

              <h2 style="margin-top: 1cm">Introduction</h2>
              <p>
                This site shows Covid-Data for each country in two categories:
                <ul>
                  <li> History: Shows summary KPIs like estimated R-values, positive (testing) rates together with daily Covid data. Since Covid data follows a weekly pattern it is strongly recommended to filter by a weekday like Saturday or Sunday. You can then still dive deeper by clicking on the (+)-icon. </li>
                  <li> Threshold: Based on R-Values in the first column, I simulated when will Covid incidence per 100k people be below a threshold value like e.g. less than 50 cases per 100k or less than 7 cases per 100k (like it was last year in summer for most countries). There are two views possible 
                    <ul>
                      <li> Days: How many days until cases per 100k are below this threshold? </li>
                      <li> Dates: On which date will cases per 100k be below this threshold? </li>
                      <li> Note that you can also choose between cases per 100k over 7 days (like most news and country use) or cases per 100k over 14 - which the <a href="https://covid19-country-overviews.ecdc.europa.eu/#Weekly_surveillance_summary">European Centre for Disease Control (ECDC) uses </a> </li>
                    </ul>
                  </li>

                  </ul>
                This page is updated once per day. <em>Note also that due to vaccinations the cases per 100k become less important as a metric! Thus the main purpose of this site can only be overall monitoring and looking into historical covid numbers. </em>

              </p>

              <h2> Details </h2>
              <h3> KPIs </h3>
              I will use this segment to explain some of the KPIs I use:
              <ul>
                <li> Positive rate: Fraction of positive (PCR) tests. Usually one of the most precise Covid-indicators. </li>
                <li> Cases/100 7d: Cases per 100k inhabitants over the last 7 days. Calculated by taking the sum of all cases in the last 7 days divided by the population in 100k (e.g. for Germany this number is 830). 
                  <ul>
                    <li> Together with the positive rate a very precise Covid-indicator </li>
                    <li> Treat with caution if positive rate is not known!</li>
                  </ul>
                </li>
                <li> Growth factor: How much did the infections grow compared to the previous week. Over 1 means that cases have increased, less than 1 that case have decreased </li>
                <li> R (estimate): Growth factor multiplied with a correctional constant. </li>
                <li> 7d mean: Average cases in the last 7 days. </li>
         
              </ul>

              <h3> Sources and data quality </h3>
              <h4> Data sources and quality </h4>
              <ul>
                <li> Germany: 
                  <ul>
                    <li> Data source: <a href="https://npgeo-corona-npgeo-de.hub.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6_0/explore">Link</a>. For whatever reason the site seems to offer no English explanations. </li>
                    <li> If German is no obstacle there is also <a href="http://www.risikotabelle.de"> risikotabelle.de </a> which provides detailed geographical information. However same disclaimer applies than to my site: Due to vaccinations these cases per 100k metrics become less important. </li>
                    <li> Positive test statistics are only published on Wednesdays and only for the previous week: <a href="https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Testzahl.html"> Link</a>. Of course not in English. </li>
                  </ul>
                </li>
                <li> France: 
                  <ul>
                    <li> Data source: <a href="https://www.data.gouv.fr/fr/datasets/indicateurs-de-suivi-de-lepidemie-de-covid-19/">Link</a>. Typical French, you set the site on English but the text stays French.  </li>
                    <li> There is also a <a href="https://www.data.gouv.fr/fr/pages/donnees-coronavirus"> good overview of available data. </a> Of course in French. </li>
                  </ul>
                </li>
                <li> Belgium:
                  <ul>
                    <li> Data source: <em>Total number of tests by date </em> from <a href="https://epistat.wiv-isp.be/covid/"> this overview of available datasets</a>. Website is by default in English.</li>
                  </ul>
                </li>
                <li> Austria:
                  <ul>
                    <li> Data source: <a href="https://www.data.gv.at/katalog/dataset/ef8e980b-9644-45d8-b0e9-c6aaf0eff0c0">Link</a>. The website is of course in German. </li>
                    <li> If German is not an obstacle <a href="https://www.data.gv.at/covid-19/"> there are more datasets available. </a> </li>
                    <li> Though I don't recommend digging deeper. The data organisation there is quite messy and difficult to understand. </li>
                  </ul>
                </li>
                <li> Latvia: 
                  <ul>
                    <li> Data source: <a href="https://data.gov.lv/dati/eng/dataset/covid-19/resource/d499d2f0-b1ea-4ba2-9600-2c701b03bd4a">Link</a>. Website is in English. Data description is in Latvian. </li>
                    <li> However, classic Baltic, the API is quite powerful and data quality is excellent.  </li>
                  </ul>
              </li> 
            </ul>
              
            <h4> Source Code </h4>

            <p> There is <a href="https://github.com/region-spotteR/conora_chronologies"> Github repository of the python backend </a>. The front-end uses a jinja2-engine with python to generate this static page. I started from <a href="https://medium.com/swlh/baking-static-sites-with-python-and-jinja-330fe29bbe08"> this tutorial </a>
          </p>


          


              <!-- </div> -->
            </div>
          </div>
        </div>


        {% for country in country_list %}
        <div class="tab-pane fade show" id="{{country.code|safe}}">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li>
                <!-- <li class="active"> -->
                <a href="#{{country.code|safe}}11" class="nav-link">History</a>
              </li>
              <li>
                <a href="#{{country.code|safe}}12" class="nav-link"
                  >Threshold</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="{{country.code|safe}}11"
              >
                {{ history_dict.get(country.code)}}
              </div>
              <div class="tab-pane fade show" id="{{country.code|safe}}12">
                {{ threshold_dict.get(country.code)}}
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      $("ul.nav-tabs a").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    </script>
  </body>
</html>
